In [1]:
import pandas as pd

In [65]:
dataset = pd.read_csv("nyc-rolling-sales.csv")

In [66]:
dataset.columns = ['INDEX',
 'BOROUGH',
 'NEIGHBORHOOD',
 'BUILDING_CLASS_CATEGORY',
 'TAX_CLASS_AT_PRESENT',
 'BLOCK',
 'LOT',
 'EASE-MENT',
 'BUILDING_CLASS_AT_PRESENT',
 'ADDRESS',
 'APARTMENT_NUMBER',
 'ZIP_CODE',
 'RESIDENTIAL_UNITS',
 'COMMERCIAL_UNITS',
 'TOTAL_UNITS',
 'LAND_SQUARE_FEET',
 'GROSS_SQUARE_FEET',
 'YEAR_BUILT',
 'TAX_CLASS_AT_TIME_OF_SALE',
 'BUILDING_CLASS_AT_TIME_OF_SALE',
 'SALE_PRICE',
 'SALE_DATE']

In [67]:
dataset = dataset[dataset.SALE_PRICE != " -  "]
dataset = dataset[dataset.GROSS_SQUARE_FEET != " -  "]
dataset = dataset[dataset.LAND_SQUARE_FEET != " -  "]

In [68]:
dataset.SALE_PRICE = dataset.SALE_PRICE.astype(int)
dataset.LAND_SQUARE_FEET = dataset.LAND_SQUARE_FEET.astype(int)
dataset.GROSS_SQUARE_FEET = dataset.GROSS_SQUARE_FEET.astype(int)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48244 entries, 0 to 84547
Data columns (total 22 columns):
INDEX                             48244 non-null int64
BOROUGH                           48244 non-null int64
NEIGHBORHOOD                      48244 non-null object
BUILDING_CLASS_CATEGORY           48244 non-null object
TAX_CLASS_AT_PRESENT              48244 non-null object
BLOCK                             48244 non-null int64
LOT                               48244 non-null int64
EASE-MENT                         48244 non-null object
BUILDING_CLASS_AT_PRESENT         48244 non-null object
ADDRESS                           48244 non-null object
APARTMENT_NUMBER                  48244 non-null object
ZIP_CODE                          48244 non-null int64
RESIDENTIAL_UNITS                 48244 non-null int64
COMMERCIAL_UNITS                  48244 non-null int64
TOTAL_UNITS                       48244 non-null int64
LAND_SQUARE_FEET                  48244 non-null int64
GROSS_SQUARE_FEET                 48244 non-null int64
YEAR_BUILT                        48244 non-null int64
TAX_CLASS_AT_TIME_OF_SALE         48244 non-null int64
BUILDING_CLASS_AT_TIME_OF_SALE    48244 non-null object
SALE_PRICE                        48244 non-null int64
SALE_DATE                         48244 non-null object
dtypes: int64(13), object(9)
memory usage: 8.5+ MB

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48248 entries, 0 to 84547
Data columns (total 22 columns):
INDEX                             48248 non-null int64
BOROUGH                           48248 non-null int64
NEIGHBORHOOD                      48248 non-null object
BUILDING_CLASS_CATEGORY           48248 non-null object
TAX_CLASS_AT_PRESENT              48248 non-null object
BLOCK                             48248 non-null int64
LOT                               48248 non-null int64
EASE-MENT                         48248 non-null object
BUILDING_CLASS_AT_PRESENT         48248 non-null object
ADDRESS                           48248 non-null object
APARTMENT_NUMBER                  48248 non-null object
ZIP_CODE                          48248 non-null int64
RESIDENTIAL_UNITS                 48248 non-null int64
COMMERCIAL_UNITS                  48248 non-null int64
TOTAL_UNITS                       48248 non-null int64
LAND_SQUARE_FEET                  48248 non-null object
GROSS_SQUARE_FEET                 48248 non-null int64
YEAR_BUILT                        48248 non-null int64
TAX_CLASS_AT_TIME_OF_SALE         48248 non-null int64
BUILDING_CLASS_AT_TIME_OF_SALE    48248 non-null object
SALE_PRICE                        48248 non-null int64
SALE_DATE                         48248 non-null object
dtypes: int64(12), object(10)
memory usage: 8.5+ MB

In [56]:
dataset.describe()

,INDEX,BOROUGH,BLOCK,LOT,ZIP_CODE,RESIDENTIAL_UNITS,COMMERCIAL_UNITS,TOTAL_UNITS,YEAR_BUILT,TAX_CLASS_AT_TIME_OF_SALE,SALE_PRICE
count,69987.000000,69987.000000,69987.000000,69987.000000,69987.000000,69987.000000,69987.000000,69987.000000,69987.000000,69987.000000,6.998700e+04
mean,10287.503822,2.921928,4196.072528,373.828397,10741.455185,1.899553,0.172489,2.092203,1799.348236,1.641976,1.276456e+06
std,7098.651334,1.235688,3429.196524,656.096528,1263.234938,14.549545,9.123717,17.276100,520.884552,0.771162,1.140526e+07
min,4.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000e+00
25%,4182.000000,2.000000,1348.000000,22.000000,10306.000000,0.000000,0.000000,0.000000,1920.000000,1.000000,2.250000e+05
50%,8989.000000,3.000000,3378.000000,50.000000,11209.000000,1.000000,0.000000,1.000000,1937.000000,2.000000,5.300000e+05
75%,15874.000000,4.000000,6186.000000,709.000000,11249.000000,2.000000,0.000000,2.000000,1965.000000,2.000000,9.500000e+05
max,26738.000000,5.000000,16319.000000,9106.000000,11694.000000,1844.000000,2261.000000,2261.000000,2017.000000,4.000000,2.210000e+09

In [41]:
list(dataset.columns.values)

['Unnamed: 0',
 'BOROUGH',
 'NEIGHBORHOOD',
 'BUILDING CLASS CATEGORY',
 'TAX CLASS AT PRESENT',
 'BLOCK',
 'LOT',
 'EASE-MENT',
 'BUILDING CLASS AT PRESENT',
 'ADDRESS',
 'APARTMENT NUMBER',
 'ZIP CODE',
 'RESIDENTIAL UNITS',
 'COMMERCIAL UNITS',
 'TOTAL UNITS',
 'LAND SQUARE FEET',
 'GROSS SQUARE FEET',
 'YEAR BUILT',
 'TAX CLASS AT TIME OF SALE',
 'BUILDING CLASS AT TIME OF SALE',
 'SALE PRICE',
 'SALE DATE']

In [42]:
dataset.columns = ['INDEX',
 'BOROUGH',
 'NEIGHBORHOOD',
 'BUILDING_CLASS_CATEGORY',
 'TAX_CLASS_AT_PRESENT',
 'BLOCK',
 'LOT',
 'EASE-MENT',
 'BUILDING_CLASS_AT_PRESENT',
 'ADDRESS',
 'APARTMENT_NUMBER',
 'ZIP_CODE',
 'RESIDENTIAL_UNITS',
 'COMMERCIAL_UNITS',
 'TOTAL_UNITS',
 'LAND_SQUARE_FEET',
 'GROSS_SQUARE_FEET',
 'YEAR_BUILT',
 'TAX_CLASS_AT_TIME_OF_SALE',
 'BUILDING_CLASS_AT_TIME_OF_SALE',
 'SALE_PRICE',
 'SALE_DATE']

In [28]:
list(dataset.columns.values)

['INDEX',
 'BOROUGH',
 'NEIGHBORHOOD',
 'BUILDING_CLASS_CATEGORY',
 'TAX_CLASS_AT_PRESENT',
 'BLOCK',
 'LOT',
 'EASE-MENT',
 'BUILDING_CLASS_AT_PRESENT',
 'ADDRESS',
 'APARTMENT_NUMBER',
 'ZIP_CODE',
 'RESIDENTIAL_UNITS',
 'COMMERCIAL_UNITS',
 'TOTAL_UNITS',
 'LAND_SQUARE_FEET',
 'GROSS_SQUARE_FEET',
 'YEAR_BUILT',
 'TAX_CLASS_AT_TIME_OF_SALE',
 'BUILDING_CLASS_AT_TIME_OF_SALE',
 'SALE_PRICE',
 'SALE_DATE']

In [69]:
dataset.head(100)

,INDEX,BOROUGH,NEIGHBORHOOD,BUILDING_CLASS_CATEGORY,TAX_CLASS_AT_PRESENT,BLOCK,LOT,EASE-MENT,BUILDING_CLASS_AT_PRESENT,ADDRESS,...,RESIDENTIAL_UNITS,COMMERCIAL_UNITS,TOTAL_UNITS,LAND_SQUARE_FEET,GROSS_SQUARE_FEET,YEAR_BUILT,TAX_CLASS_AT_TIME_OF_SALE,BUILDING_CLASS_AT_TIME_OF_SALE,SALE_PRICE,SALE_DATE
0,4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,...,5,0,5,1633,6440,1900,2,C2,6625000,2017-07-19 00:00:00
3,7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,...,10,0,10,2272,6794,1913,2,C4,3936272,2016-09-23 00:00:00
4,8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,...,6,0,6,2369,4615,1900,2,C2,8000000,2016-11-17 00:00:00
6,10,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,406,32,,C4,210 AVENUE B,...,8,0,8,1750,4226,1920,2,C4,3192840,2016-09-23 00:00:00
9,13,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,2,387,153,,D9,629 EAST 5TH STREET,...,24,0,24,4489,18523,1920,2,D9,16232000,2016-11-07 00:00:00
11,15,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,2B,400,21,,D1,530-532 EAST 5TH STREET,...,10,0,10,3717,12350,2009,2,D1,10350000,2016-10-17 00:00:00
22,26,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,376,14,,C6,244 EAST 7TH STREET,...,24,0,24,4131,16776,1928,2,C6,11900000,2017-06-21 00:00:00
172,176,1,ALPHABET CITY,14 RENTALS - 4-10 UNIT,2A,391,19,,S3,624 EAST 9TH STREET,...,3,1,4,1520,3360,1910,2,S3,3300000,2016-11-15 00:00:00
173,177,1,ALPHABET CITY,14 RENTALS - 4-10 UNIT,2A,393,4,,S4,165 AVENUE B,...,4,1,5,2201,5608,1900,2,S4,7215000,2017-01-30 00:00:00
174,178,1,ALPHABET CITY,14 RENTALS - 4-10 UNIT,2A,394,5,,S5,183 AVENUE B,...,5,1,6,1779,3713,1910,2,S5,4750000,2017-04-03 00:00:00
195,199,1,ALPHABET CITY,22 STORE BUILDINGS,4,390,34,,K4,115 AVENUE C,...,0,1,1,1218,3586,1899,4,K4,3700000,2016-09-28 00:00:00
206,210,1,CHELSEA,01 ONE FAMILY DWELLINGS,1,771,52,,A9,224 WEST 22ND STREET,...,1,0,1,1975,3855,1901,1,A9,7425000,2016-12-30 00:00:00
207,211,1,CHELSEA,01 ONE FAMILY DWELLINGS,1,772,29,,A4,231 WEST 22ND STREET,...,1,0,1,1588,5653,1900,1,A4,10,2017-01-30 00:00:00
208,212,1,CHELSEA,01 ONE FAMILY DWELLINGS,1,772,29,,A4,231 WEST 22ND STREET,...,1,0,1,1588,5653,1900,1,A4,10,2017-01-30 00:00:00
209,213,1,CHELSEA,01 ONE FAMILY DWELLINGS,1,772,29,,A4,231 WEST 22ND STREET,...,1,0,1,1588,5653,1900,1,A4,10,2017-01-30 00:00:00
212,216,1,CHELSEA,02 TWO FAMILY DWELLINGS,1,769,49,,S2,218 WEST 20TH STREET,...,2,1,3,2150,4978,1920,1,S2,7750000,2017-04-17 00:00:00
214,218,1,CHELSEA,03 THREE FAMILY DWELLINGS,1,719,67,,C0,444 WEST 22ND STREET,...,3,0,3,2469,3725,1901,1,C0,8300000,2017-02-02 00:00:00
216,220,1,CHELSEA,07 RENTALS - WALKUP APARTMENTS,2B,696,37,,C4,253 10TH AVENUE,...,6,1,7,1463,3762,1901,2,C4,16000000,2016-09-08 00:00:00
218,222,1,CHELSEA,07 RENTALS - WALKUP APARTMENTS,2A,722,6,,C3,459 WEST 24TH STREET,...,4,0,4,2057,2890,1910,2,C3,5950000,2016-10-26 00:00:00
219,223,1,CHELSEA,07 RENTALS - WALKUP APARTMENTS,2,743,56,,C5,318 WEST 20TH STREET,...,24,0,24,2307,4500,1900,2,C5,7375000,2017-02-06 00:00:00
220,224,1,CHELSEA,07 RENTALS - WALKUP APARTMENTS,2A,745,63,,C3,348 WEST 22ND STREET,...,4,0,4,2057,3042,1900,2,C3,8000000,2017-02-06 00:00:00
221,225,1,CHELSEA,07 RENTALS - WALKUP APARTMENTS,2,764,68,,C4,256 WEST 15TH STREET,...,22,2,24,2581,13056,1901,2,C4,14100000,2017-03-23 00:00:00
222,226,1,CHELSEA,07 RENTALS - WALKUP APARTMENTS,2B,765,25,,C4,219 WEST 15TH STREET,...,9,0,9,1566,6330,1901,2,C4,1583840,2017-08-31 00:00:00
223,227,1,CHELSEA,07 RENTALS - WALKUP APARTMENTS,2B,765,25,,C4,219 WEST 15TH STREET,...,9,0,9,1566,6330,1901,2,C4,416790,2017-08-31 00:00:00
224,228,1,CHELSEA,07 RENTALS - WALKUP APARTMENTS,2B,765,25,,C4,219 WEST 15TH STREET,...,9,0,9,1566,6330,1901,2,C4,630370,2017-08-31 00:00:00
227,231,1,CHELSEA,07 RENTALS - WALKUP APARTMENTS,2B,770,53,,C1,222 WEST 21ST STREET,...,9,0,9,2029,8540,1920,2,C1,29400000,2016-11-10 00:00:00
230,234,1,CHELSEA,07 RENTALS - WALKUP APARTMENTS,2B,790,8,,C7,149 WEST 14TH STREET,...,8,1,9,2581,7650,1920,2,C7,6450000,2017-02-02 00:00:00
231,235,1,CHELSEA,07 RENTALS - WALKUP APARTMENTS,2,790,9,,C7,147 WEST 14TH STREET,...,15,1,16,2077,6335,1901,2,C7,5500000,2017-02-02 00:00:00
232,236,1,CHELSEA,07 RENTALS - WALKUP APARTMENTS,2B,790,10,,C7,145 WEST 14TH STREET,...,8,1,9,1952,5955,1920,2,C7,5750000,2017-02-02 00:00:00
233,237,1,CHELSEA,07 RENTALS - WALKUP APARTMENTS,2B,790,63,,C1,148 WEST 15TH STREET,...,8,0,8,2000,4100,1910,2,C1,3485000,2016-12-05 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1450,1454,1,CLINTON,07 RENTALS - WALKUP APARTMENTS,2B,1054,128,,C4,403 WEST 44TH STREET,...,8,0,8,2008,4000,1920,2,C4,10,2016-10-06 00:00:00
1453,1457,1,CLINTON,07 RENTALS - WALKUP APARTMENTS,2B,1058,9,,C4,443 WEST 48TH STREET,...,10,0,10,2510,8175,1901,2,C4,3100000,2017-06-28 00:00:00
1454,1458,1,CLINTON,07 RENTALS - WALKUP APARTMENTS,2,1058,10,,C1,441 WEST 48TH STREET,...,12,0,12,2510,8175,1901,2,C1,12400000,2017-06-28 00:00:00
1456,1460,1,CLINTON,07 RENTALS - WALKUP APARTMENTS,2A,1060,158,,C2,458 WEST 51 STREET,...,5,0,5,2092,4120,1920,2,C2,7000000,2017-07-18 00:00:00
1458,1462,1,CLINTON,07 RENTALS - WALKUP APARTMENTS,2,1064,4,,C7,818 10TH AVENUE,...,16,2,18,3333,12330,1910,2,C7,11500000,2017-03-07 00:00:00
1459,1463,1,CLINTON,07 RENTALS - WALKUP APARTMENTS,2,1067,55,,C4,454 WEST 58TH STREET,...,12,0,12,2502,9625,1910,2,C4,11435000,2017-01-18 00:00:00
1460,1464,1,CLINTON,07 RENTALS - WALKUP APARTMENTS,2,1099,30,,C7,723 ELEVENTH AVENUE,...,11,1,12,2508,10035,1901,2,C7,10,2016-10-06 00:00:00
1461,1465,1,CLINTON,07 RENTALS - WALKUP APARTMENTS,2,1099,31,,C7,725 ELEVENTH AVENUE,...,12,1,13,2508,10035,1901,2,C7,10,2016-10-06 00:00:00
1463,1467,1,CLINTON,08 RENTALS - ELEVATOR APARTMENTS,2B,1055,27,,D1,409 WEST 45TH STREET,...,7,0,7,2410,10119,2016,2,D1,15093194,2017-05-31 00:00:00
1779,1783,1,CLINTON,29 COMMERCIAL GARAGES,4,1094,11,,GW,638 WEST 47TH STREET,...,0,1,1,5021,2875,1940,4,GW,21500000,2017-07-18 00:00:00
1780,1784,1,CLINTON,29 COMMERCIAL GARAGES,4,1095,24,,G2,607-611 WEST 47TH STREET,...,0,2,2,7531,15062,1940,4,G2,18500000,2017-01-20 00:00:00
1784,1788,1,CLINTON,37 RELIGIOUS FACILITIES,4,1053,59,,M4,460 WEST 44TH STREET,...,0,2,2,5021,8848,1910,4,M4,8010000,2017-03-17 00:00:00
1785,1789,1,CLINTON,41 TAX CLASS 4 - OTHER,4,1061,45,,Z9,424 WEST 52ND STREET,...,0,2,2,2510,336,1998,4,Z9,4700000,2017-02-01 00:00:00
1791,1795,1,EAST VILLAGE,02 TWO FAMILY DWELLINGS,1,436,1,,S2,138 1 AVENUE,...,2,1,3,1200,3360,1900,1,S2,3000000,2017-08-31 00:00:00
1793,1797,1,EAST VILLAGE,02 TWO FAMILY DWELLINGS,1,458,47,,S2,4 EAST 2ND STREET,...,2,1,3,1280,5920,1899,1,S2,6800000,2017-01-23 00:00:00
1794,1798,1,EAST VILLAGE,02 TWO FAMILY DWELLINGS,1,467,53,,B9,217 EAST 11TH STREET,...,2,0,2,1275,2640,1899,1,B9,4000000,2017-06-08 00:00:00
1795,1799,1,EAST VILLAGE,07 RENTALS - WALKUP APARTMENTS,2,434,21,,C7,114-116 EAST 7TH STREET,...,28,2,30,4545,20225,1900,2,C7,13835000,2017-01-10 00:00:00
1796,1800,1,EAST VILLAGE,07 RENTALS - WALKUP APARTMENTS,2,434,43,,C1,429 EAST 6TH STREET,...,20,0,20,4163,9187,1920,2,C1,5292000,2017-05-11 00:00:00
1803,1807,1,EAST VILLAGE,07 RENTALS - WALKUP APARTMENTS,2,442,11,,C5,31 EAST 1ST STREET,...,21,0,21,2144,7495,1920,2,C5,5381394,2016-09-23 00:00:00
1804,1808,1,EAST VILLAGE,07 RENTALS - WALKUP APARTMENTS,2,447,42,,C1,333 EAST 5TH STREET,...,24,0,24,2425,7000,1900,2,C1,6354000,2017-05-11 00:00:00
1805,1809,1,EAST VILLAGE,07 RENTALS - WALKUP APARTMENTS,2,447,43,,C1,331 EAST 5TH STREET,...,24,0,24,2425,7000,1900,2,C1,6354000,2017-05-11 00:00:00
1806,1810,1,EAST VILLAGE,07 RENTALS - WALKUP APARTMENTS,2,448,19,,C1,70 EAST 7TH STREET,...,24,0,24,2271,10092,1910,2,C1,10,2016-12-16 00:00:00
1807,1811,1,EAST VILLAGE,07 RENTALS - WALKUP APARTMENTS,2,449,18,,C7,58 ST MARKS PLACE,...,19,1,20,2437,10905,1900,2,C7,12326000,2016-11-17 00:00:00
1809,1813,1,EAST VILLAGE,07 RENTALS - WALKUP APARTMENTS,2,452,47,,C7,221 EAST 10TH STREET,...,24,2,26,2369,10470,1900,2,C7,10025000,2016-11-17 00:00:00
1814,1818,1,EAST VILLAGE,07 RENTALS - WALKUP APARTMENTS,2,463,27,,C7,341/2 SAINT MARKS PLACE,...,11,1,12,1840,7692,1900,2,C7,8300000,2016-10-28 00:00:00
1815,1819,1,EAST VILLAGE,08 RENTALS - ELEVATOR APARTMENTS,2,436,44,,D3,107 ST MARKS PLACE,...,48,0,48,8904,25610,1920,2,D3,30449204,2017-08-08 00:00:00
1917,1921,1,EAST VILLAGE,14 RENTALS - 4-10 UNIT,2A,435,1,,S9,118 1 AVENUE,...,4,2,6,1240,5080,1900,2,S9,5825000,2017-03-09 00:00:00
1955,1959,1,EAST VILLAGE,22 STORE BUILDINGS,4,449,3,,K4,122 SECOND AVENUE,...,2,2,4,3334,14131,1920,4,K4,9100000,2016-09-16 00:00:00
1956,1960,1,EAST VILLAGE,22 STORE BUILDINGS,4,457,32,,K4,29 2 AVENUE,...,2,1,3,2277,5794,1900,4,K4,4550000,2017-02-13 00:00:00
1970,1974,1,FASHION,07 RENTALS - WALKUP APARTMENTS,2,778,28,,C4,221 WEST 28TH STREET,...,22,2,24,2460,11538,1920,2,C4,11000000,2017-02-06 00:00:00